.bg-desktop-1 {
  background: url('/images/desktop-section-1/main_background_1.png') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .bg-frame-1 {
    background-image: url('/images/desktop-section-1/frame_1.PNG');
    background-repeat: no-repeat;
  }

  .bg-image-1 {
    background-image: url('/images/desktop-section-1/background_1.JPG');
    background-repeat: no-repeat;
    background-position: right 40px bottom 20px;
  }

  .bg-button-1 {
    background-image: url('/images/desktop-section-1/black_button.PNG');
    background-repeat: no-repeat;
    background-position: right 40px bottom 20px;
  }
}

.bg-image-3 {
  background: url('/images/desktop-section-1/bg_character.JPG') no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.bg-image-4 {
  background: url('/images/desktop-section-1/main_background_4.png') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-image-5 {
  background: url('/images/desktop-section-1/main_background_5.png') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-desktop-2-1 {
  background: url('/images/desktop-section-2/background_2_1.PNG') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-desktop-2-2 {
  background: url('/images/desktop-section-2/background_2_2.PNG') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-desktop-2-3 {
  background: url('/images/desktop-section-2/background_2_3.PNG') no-repeat
    center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@-webkit-keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

.slide-bottom-1 {
  -webkit-animation: up-and-down 4s linear infinite;
  animation: up-and-down 6s linear infinite;
}

.slide-bottom-2 {
  -webkit-animation: up-and-down 4s linear infinite;
  animation: up-and-down 4s linear infinite;
}

.slide-bottom-3 {
  -webkit-animation: up-and-down 4s linear infinite;
  animation: up-and-down 3s linear infinite;
}
